<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <servlet>
  		<servlet-name>RCB</servlet-name>
  		<servlet-class>com.config.FirstServlet</servlet-class>
  		<init-param>
  			<param-name>trophies</param-name>
  			<param-value>1</param-value>
  		</init-param>
  		<init-param>
  			<param-name>records</param-name>
  			<param-value>49 All out</param-value>
  		</init-param>
  </servlet>
  <servlet-mapping>
  		<servlet-name>RCB</servlet-name>
  		<url-pattern>/rcb</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
  		<servlet-name>CSK</servlet-name>
  		<servlet-class>com.config.SecondServlet</servlet-class>
  		<init-param>
  			<param-name>trophies</param-name>
  			<param-value>5 trophies 6th loading...</param-value>
  		</init-param>
  		<init-param>
  			<param-name>records</param-name>
  			<param-value>Number one team in IPL</param-value>
  		</init-param>
  </servlet>
  <servlet-mapping>
  		<servlet-name>CSK</servlet-name>
  		<url-pattern>/csk</url-pattern>
  </servlet-mapping>
</web-app>